:root {
  /* --surface: hsl(0, 0%, 70%); */
  --surface: hsl(from var(--primary-color)h s calc(l + 20));
  --text-crl: hsl(0, 0%, 100%);
  --text-crl-I: hsl(0, 0%, 0%);
  --primary-color:hsl(240, 20%, 40%);
  --secundary-color: hsl(44, 93%, 58%);
  --clr-1:hsl(0, 0%, 25%);
  --clr-2:hsl(0, 0%, 40%);
  --clr-3:hsl(0, 0%, 55%);
  --gradient-glow: 
    var(--clr-1), 
    var(--clr-2),
    var(--clr-2),
    var(--clr-3), 
    var(--clr-3),
    var(--clr-1);
}
.darkmode{
  /* --surface: hsl(0, 0%, 20%); */
  --surface: hsl(from var(--primary-color)h s calc(l + 40));
  --text-crl: hsl(0, 0%, 100%);
  --text-crl-I: hsl(0, 0%, 0%);
  --primary-color:hsl(255, 44%, 18%);
  --clr-1:hsl(0, 0%, 100%);
  --clr-2:hsl(0, 0%, 50%);
  --clr-3:hsl(0, 0%, 9%);
  --gradient-glow: 
    var(--clr-1), 
    var(--clr-2),
    var(--clr-2),
    var(--clr-3), 
    var(--clr-3),
    var(--clr-1);

}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

#theme-switch{
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background: 
  hsl(from var(--primary-color) h s calc(l + 5));

  display: flex;
  justify-content: center;
  align-items: center;
}
#theme-switch svg{
  color: hsl(from var(--text-crl) h s l);
}
#theme-switch svg:last-child{
  display: none;
}
.darkmode #theme-switch svg:first-child{
  display: none;
}
.darkmode #theme-switch svg:last-child{
  display: block;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
  height: 100%;
}
body{
  overflow-x: clip;
  background: var(--surface);
  

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h1{
  font-family: "DM Serif Text", serif;
  font-size: 3.5rem;
  letter-spacing: -2px;
}
h2{
  font-family: "DM Serif Text", serif;
  font-size: 2.25rem;
}
h3{
  font-family: "DM Serif Text", serif;
  font-size: 2.25rem;
}
p{
  color: hsl(from var(--text-crl) h s calc(l - 30)) !important;
  font-family: "DM Sans", sans-serif ;
  font-size: 2rem;
  line-height: calc(2rem * 1.3);
}
a {
  font-family: "DM Sans", sans-serif ;
  letter-spacing: .5px;
  text-decoration: none;
  color: white;
}
button{
  font-family: "DM Sans", sans-serif ;
  letter-spacing: 1px;
  color: white;
}
@media (min-width: 768px){
  h1{
    font-size: 5rem;
  }
  h2{
    font-size: 3.25rem;
  }
  h3{
    font-size: 3rem;
  }
  p{
    font-size: 2.5rem;
  }
}
@media (min-width: 1000px){
  h1{
    font-size: 7rem;
  }
  h2{
    font-size: 4.25rem;
  }
   h3{
    font-size: 3.75rem;
  }
  p{
    font-size: 2.5rem;
  }
}
html{
  scroll-behavior: smooth;
}
article {
  flex-grow: 1;
}
section[id]{
  scroll-margin-top: 80px;
}
#Skills{
  scroll-margin-top: 70px;
}
section{
  min-height: 100vh;
}